-r requirements.txt
-r requirements-dev.txt
flake8==3.8.2
flake8-formatter-junit-xml==0.0.6
flake8-import-order==0.18.1
freezegun==1.0.0
pytest==6.2.1
pytest-cov==2.9.0
pytest-mock==3.2.0
vcrpy==4.1.1
